`timescale 1ns / 1ps
import common_utils::*;
import alimp_pkg::*;

module alimp_top (
    input  logic        clk,
    input  logic        rst_n,
    
    axi_lite_if.slave   axi_lite,
    timer_if.slave      program_timer  
);
  
    localparam N_ALIMP = {{N_ALIMP}};
    localparam MAX_COLS = {{MAX_COLS}};

    // -----------------------------------------
    // Alimp settings 
    // -----------------------------------------

    typedef struct packed {
        common_conf_t   cmn;
        picorv_conf_t   pico;
        drra_conf_t     drra;
    } alimp_base_cfg_t;

    localparam alimp_base_cfg_t cfg [N_ALIMP] = {{BASE_CFG}}

    // -----------------------------------------
    // IO configs
    // -----------------------------------------
    
    localparam io_setting_t in_io [N_ALIMP][MAX_COLS] = {{IN_IO_CFG}}
    localparam io_setting_t out_io [N_ALIMP][MAX_COLS] = {{OUT_IO_CFG}}
    localparam tp_setting_t out_tp [N_ALIMP][MAX_COLS] = {{OUT_TP_CFG}}

    // -----------------------------------------
    // Interfaces
    // -----------------------------------------

    app_if #(.A(32), .W(128)) app_in  [N_ALIMP][MAX_COLS] ();
    app_if #(.A(32), .W(128)) app_out [N_ALIMP][MAX_COLS] ();
    
{{APP_INTERFACE_CONNECT}}
    // -----------------------------------------
    // Generate ALIMPs
    // -----------------------------------------
    axi_lite_if #(.A(axi_lite.A), .W(axi_lite.W))  
                                                    axi_lite_slave [N_ALIMP] ();

    logic [N_ALIMP-1:0]                             aw_ready, w_ready, ar_ready, r_valid, b_valid;
    logic [N_ALIMP-1:0][axi_lite.W-1:0]             r_data;
    logic [N_ALIMP-1:0][1:0]                        r_resp;
    logic [N_ALIMP-1:0][1:0]                        b_resp;
    logic [$clog2(N_ALIMP)-1:0]                     selected_idx_r, selected_idx_b;    
    
    genvar i;

    generate
        for (i = 0; i < N_ALIMP; i++) begin: gen_alimp 
            alimp_wrapper #(
                .ALIMP_ID(i),
                .MAX_COLS(MAX_COLS),
                .CMN_CFG(cfg[i].cmn),
                .PICO_CFG(cfg[i].pico),
                .DRRA_CFG(cfg[i].drra),
                .IN_IO_CFG(in_io[i]),
                .OUT_IO_CFG(out_io[i]),
                .OUT_TP_CFG(out_tp[i])
            ) alimp_inst (
                .clk(clk),
                .rst_n(rst_n),
                .axi_lite(axi_lite_slave[i]),
                .program_timer(program_timer),
                .app_in(app_in[i]),
                .app_out(app_out[i])
            );

            assign axi_lite_slave[i].aw_addr = axi_lite.aw_addr;
            assign axi_lite_slave[i].aw_valid = axi_lite.aw_valid;
            assign axi_lite_slave[i].w_data = axi_lite.w_data;
            assign axi_lite_slave[i].w_strb = axi_lite.w_strb;
            assign axi_lite_slave[i].w_valid = axi_lite.w_valid;
            assign axi_lite_slave[i].ar_addr = axi_lite.ar_addr;
            assign axi_lite_slave[i].ar_valid = axi_lite.ar_valid;
            assign axi_lite_slave[i].r_ready = axi_lite.r_ready;
            assign axi_lite_slave[i].b_ready = axi_lite.b_ready;
        end
    endgenerate

    for (genvar i = 0; i < N_ALIMP; i++) begin
        assign aw_ready[i] = axi_lite_slave[i].aw_ready;
        assign w_ready[i] = axi_lite_slave[i].w_ready;
        assign ar_ready[i] = axi_lite_slave[i].ar_ready;
        assign r_valid[i] = axi_lite_slave[i].r_valid;
        assign b_valid[i] = axi_lite_slave[i].b_valid;
        assign r_data[i] = axi_lite_slave[i].r_data;
        assign r_resp[i] = axi_lite_slave[i].r_resp;
        assign b_resp[i] = axi_lite_slave[i].b_resp;
    end

    // More sophisticated way of handling AXI-lite is needed     
    always_comb begin
        axi_lite.aw_ready = |aw_ready;
        axi_lite.w_ready = |w_ready;
        axi_lite.ar_ready = |ar_ready;
        axi_lite.r_valid = |r_valid;
        axi_lite.b_valid = |b_valid;
    end

    always_comb begin
        selected_idx_r = '0;
        selected_idx_b = '0;
    
        for (int i = 0; i < N_ALIMP; i++) begin
            if (r_valid[i])
                selected_idx_r = i;
    
            if (b_valid[i])
                selected_idx_b = i;
        end
    end

    always_comb begin
        axi_lite.r_data = r_data[selected_idx_r];
        axi_lite.r_resp = r_resp[selected_idx_r];
        axi_lite.b_resp = b_resp[selected_idx_b];
    end

endmodule 
