# python environment
.venv/

# bin directory
bin/*
!bin/bind
bin/bind/*
!bin/bind/app_graph.*   
!bin/db.bin
!bin/noc
bin/noc/*
!bin/noc/*.pdf
!bin/place
bin/place/*
!bin/place/*.pdf
!bin/route
bin/route/*
!bin/route/*.pdf

# lib directory
lib/glic_sim/proto/*.py
lib/proto/*.py
