# python environment
.venv/
__pycache__/

# example directory
examples/*
!examples/copy
examples/copy/*
!examples/copy/*.*
!examples/copy/mem
!examples/minimum
examples/minimum/*
!examples/minimum/*.*
!examples/minimum/mem
!examples/sobel
examples/sobel/_*
examples/sobel/model/*
!examples/sobel/model/*.*
!examples/lenet5
examples/lenet5/_*
examples/lenet5/model/*
!examples/lenet5/model/*.*

# bin directory
bin/*
!bin/bind
bin/bind/*
!bin/bind/app_graph.*   
!bin/*.bin
!bin/noc
bin/noc/*
!bin/noc/*.pdf
!bin/place
bin/place/*
!bin/place/*.pdf
!bin/route
bin/route/*
!bin/route/*.pdf

# lib directory
lib/glic_sim/proto/*.py
lib/proto/*.py
